<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="/res/styles/all-people-style.css" type="text/css"/>
</head>
<body>

<div id="range1">

    <div class="outer">
        <div class="middle">
            <div class="inner">

                <div class="login-wr">
                    <h2>Вход</h2>

                    <div class="form">
                        <form method="get" th:action="@{/people}">
                            <button type="submit"> Войти </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
</body>
</html>