<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="/res/styles/login-style.css" type="text/css"/>
</head>
<body>
<div id="range1">

    <div class="outer">
        <div class="middle">
            <div class="inner">

                <div class="login-wr">
                    <h2>Вход</h2>

                    <div class="form">
                        <form th:method="POST" th:action="@{/login}" th:object="${user}">
                        <input type="text" th:field="*{name}" id="name" placeholder="Пользователь">
                        <input type="password" th:field="*{password}" id="password" placeholder="Пароль">
                        <button type="submit"> Авторизация </button>
                        </form>
                        <a href="/registration"> <p> У вас нет аккаунта? Регистрация </p></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
</body>
</html>